.header h1{
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 80px;
  width: 80%;
  text-decoration: none;
  list-style: none;
  margin: 20px auto;
  font-size: 20px;
  cursor: pointer;
}

.nav > li{
  background-color: red;
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
}

.nav>li:hover{
  background-color: rgb(223, 81, 81);
}

a{
  text-decoration: none;
  color: #fff;
}

.header{

  width: 80%;
  margin: 0 auto;
}

.header-nav{
  border-bottom: 1px solid #ddd;
}

.products--Container{
  width: inherit;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.products{
  width: 25%;
  display: flex;
  margin: 10px;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.04);
  /* border-radius: 60px; */

}

.products img{
  margin-bottom: 20px;
  width: 100%;
}

.p-d{
  padding: 20px;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.btn-container{
  text-align: center;
}

.btn{
  border: none;
  outline: none;
  padding: 10px ;
  font-size: 15px;
  width: 50%;
  border-radius: 8px;
  cursor: pointer;
}

.btn2{
  border: none;
  outline: none;
  padding: 10px ;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
}



.btn-primary{
  background-color: dodgerblue;
  margin: 10px 0;

}

.btn-primary:hover{
  background-color: blue;
}

.btn-danger{
  background-color: crimson;
  margin: 10px 0;
}

.btn-danger:hover{
  background-color: firebrick;
}


.cart h2{
  text-align: center;
}

.cart-js{
  display: flex;
  justify-content: space-between;
  align-items: center;
}